.sp {
  display: none;
}

.pc {
  display: block;
}

.port-content {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  justify-items: center;

  .port-bg {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    height: auto;
    max-width: 900px;
    width: 100%;
    margin: 2%;

    // :hover {
    //     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    //     transition: 0.5s;
    // }


    .port-bg-half {
      display: flex;
      flex-direction: row;

      .half-about-me {
        height: 100%;
        background-color: black;
        flex-basis: 35%;
        padding: 10px;

        .about-profile-pic {
          text-align: center;

          .image-content {
            padding: 20px 20px;

            img {
              border-radius: 50%;
              width: 70%;
              height: auto;
            }
          }
        }

        .about-profile-name {

          h1 {
            color: white;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 1px;
            text-align: center;

            &#lastname {
              color: red;
            }
          }

          h2 {
            font-size: 13px;
            color: #f5f5f5;
            letter-spacing: 1px;
          }
        }

        .about-profile-info {
          padding: 5px 10px 0px 20px;

          .profile-info-header {
            border-left: 2px solid red;

            h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5;
            }
          }

          .profile-info-text {


            p {

              color: white;
              font-size: 10px;
            }
          }
        }

        .about-profile-contact {
          padding: 5px 10px 10px 20px;

          .profile-contact-header {
            border-left: 2px solid red;

            h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5;
            }
          }

          .profile-contact-content {
            padding-left: 20px;

            p {
              display: flex;
              flex-direction: row;
              font-size: 12px;

              span {


                &#icon {
                  flex-basis: 10%;
                  padding-right: 10px;
                  color: red;

                }

                &#text {
                  flex-basis: 50%;
                  color: white;

                }
              }
            }
          }
        }

        .about-profile-social {
          padding: 5px 10px 10px 20px;

          .profile-social-header {
            border-left: 2px solid red;

            h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5;
            }
          }

          .profile-social-content {
            padding-left: 20px;

            p {
              display: flex;
              flex-direction: column;

              span {
                &#title {
                  color: red;
                  font-size: 14px;
                }

                &#subtitle {
                  a {
                    color: #e5e5e5;
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }

      .half-reference {
        flex-basis: 65%;
        padding-left: 10px;
        padding-right: 10px;

        .reference-container {
          padding: 5px 10px 10px 20px;

          .reference-header {
            border-left: 2px solid red;

            h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: black;
            }
          }

          .prof-skills {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;


            .skills-content {
              flex-basis: 50%;

              ul {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;

                li {
                  display: inline-block;

                  &.skills-text {
                    width: 30%;
                  }

                  p {
                    line-height: 4px;
                    font-size: 12px;
                    font-weight: 500;

                  }

                  div {
                    vertical-align: middle;
                    width: 12px;
                    height: 12px;
                    background: red;
                    display: inline-block;

                    &.gray {
                      background: #cccccc;

                    }

                  }
                }
              }
            }
          }

          .reference-content {
            margin-top: -10px;
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;

            .content-title {
              flex-basis: 30%;
              padding-left: 10px;

              p {
                letter-spacing: 2px;
                font-weight: 600;
                color: red;
                line-height: 4px;
                font-size: 13px;

                &#date {
                  font-size: 9px;
                  letter-spacing: .5px;
                  color: black;
                  font-weight: 100;

                }
              }


            }

            .content-company {
              flex-basis: 70%;

              .company-name {
                p {
                  line-height: 4px;
                  font-style: italic;
                  font-size: 13px;
                  font-weight: 500;

                }
              }

              .postion-role {
                p {
                  font-weight: 200;
                  font-size: 11px;
                }
              }

            }
          }

          .project-cnt {
            ul {
              padding-left: 5%;
              list-style: none;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;


              li {
                flex-basis: 30%;
                margin: 0 !important;


                &::before {
                  content: "\203A";
                  color: red;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  margin-left: -1em;

                }

                a {
                  color: black;
                  font-size: 12px;
                  color: black;
                  font-weight: 500;
                  letter-spacing: .8px;
                }

              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .port-content {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    justify-items: center;

    .port-bg {
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
      height: auto;
      max-width: 900px;
      width: 100%;
      margin: 2%;

      // :hover {
      //     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      //     transition: 0.5s;
      // }


      .port-bg-half {
        display: flex;
        flex-direction: row;

        .half-reference {
          flex-basis: 65%;
          padding-left: 10px;
          padding-right: 10px;

          .reference-container {
            padding: 5px 10px 10px 20px;

            .reference-header {
              border-left: 2px solid red;

              h1 {
                padding-left: 10px;
                font-size: 15px;
                font-weight: 600;
                color: black;
              }
            }

            .prof-skills {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: wrap;


              .skills-content {
                flex-basis: 100%;

                ul {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin: 0;

                  li {
                    display: inline-block;
                    width: 70%;

                    &.skills-text {
                      width: 30%;
                    }

                    p {
                      line-height: 4px;
                      font-size: 12px;
                      font-weight: 500;

                    }

                    div {
                      vertical-align: middle;
                      width: 12px;
                      height: 12px;
                      background: red;
                      display: inline-block;

                      &.gray {
                        background: #cccccc;

                      }

                    }
                  }
                }
              }
            }

            .reference-content {
              margin-top: -10px;
              display: flex;
              flex-direction: row;
              padding-bottom: 10px;

              .content-title {
                flex-basis: 30%;
                padding-left: 10px;

                p {
                  letter-spacing: 2px;
                  font-weight: 600;
                  color: red;
                  line-height: 4px;
                  font-size: 13px;

                  &#date {
                    font-size: 9px;
                    letter-spacing: .5px;
                    color: black;
                    font-weight: 100;

                  }
                }


              }

              .content-company {
                flex-basis: 70%;

                .company-name {
                  p {
                    line-height: 4px;
                    font-style: italic;
                    font-size: 13px;
                    font-weight: 500;

                  }
                }

                .postion-role {
                  p {
                    font-weight: 200;
                    font-size: 11px;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .port-content {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    justify-items: center;

    .port-bg {
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
      height: auto;
      max-width: 900px;
      width: 100%;
      margin: 0% 2% 2%;

      // :hover {
      //     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      //     transition: 0.5s;
      // }


      .port-bg-half {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .half-about-me {
          height: 100%;
          background-color: black;
          flex-basis: 100%;
          padding: 10px;

          .about-profile-pic {
            text-align: center;

            .image-content {
              padding: 20px 20px 5px;

              img {
                border-radius: 50%;
                width: 30%;
                height: auto;
              }
            }
          }

          .about-profile-name {

            h1 {
              color: white;
              font-size: 20px;
              font-weight: 600;
              letter-spacing: 2px;
              line-height: 1px;
              text-align: center;

              &#lastname {
                color: red;
              }
            }

            h2 {
              font-size: 13px;
              color: #f5f5f5;
              letter-spacing: 1px;
            }
          }

          .about-profile-info {
            padding: 5px 10px 0px 20px;

            .profile-info-header {
              border-left: 2px solid red;

              h1 {
                padding-left: 10px;
                font-size: 15px;
                font-weight: 600;
                color: #e5e5e5;
              }
            }

            .profile-info-text {


              p {

                color: white;
                font-size: 10px;
              }
            }
          }

          .about-profile-contact {
            padding: 5px 10px 10px 20px;

            .profile-contact-header {
              border-left: 2px solid red;

              h1 {
                padding-left: 10px;
                font-size: 15px;
                font-weight: 600;
                color: #e5e5e5;
              }
            }

            .profile-contact-content {
              padding-left: 20px;

              p {
                display: flex;
                flex-direction: row;
                font-size: 12px;

                span {


                  &#icon {
                    flex-basis: 10%;
                    padding-right: 10px;
                    color: red;

                  }

                  &#text {
                    flex-basis: 50%;
                    color: white;

                  }
                }
              }
            }
          }

          .about-profile-social {
            padding: 5px 10px 10px 20px;

            .profile-social-header {
              border-left: 2px solid red;

              h1 {
                padding-left: 10px;
                font-size: 15px;
                font-weight: 600;
                color: #e5e5e5;
              }
            }

            .profile-social-content {
              padding-left: 20px;

              p {
                display: flex;
                flex-direction: column;

                span {
                  &#title {
                    color: red;
                    font-size: 14px;
                  }

                  &#subtitle {
                    a {
                      color: #e5e5e5;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }

        .half-reference {
          flex-basis: 100%;
          padding-left: 5px;
          padding-right: 10px;

          .reference-container {
            padding: 5px 10px 10px 20px;

            .reference-header {
              border-left: 2px solid red;

              h1 {
                padding-left: 10px;
                font-size: 17px;
                font-weight: 600;
                color: black;
              }
            }

            .prof-skills {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: wrap;


              .skills-content {
                flex-basis: 100%;

                ul {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin: 0;

                  li {
                    display: inline-block;

                    &.skills-text {
                      width: 30%;
                    }

                    p {
                      line-height: 4px;
                      font-size: 12px;
                      font-weight: 500;

                    }

                    div {
                      vertical-align: middle;
                      width: 12px;
                      height: 12px;
                      background: red;
                      display: inline-block;

                      &.gray {
                        background: #cccccc;

                      }

                    }
                  }
                }
              }
            }

            .reference-content {
              margin-top: -10px;
              display: flex;
              flex-direction: column;
              padding-bottom: 10px;


              .content-title {
                flex-basis: 30%;
                padding-left: 10px;

                p {
                  letter-spacing: 2px;
                  font-weight: 600;
                  color: red;
                  line-height: 4px;
                  font-size: 13px;

                  &#date {
                    font-size: 9px;
                    letter-spacing: .5px;
                    color: black;
                    font-weight: 100;

                  }
                }


              }

              .content-company {
                flex-basis: 70%;
                padding-left: 10px;

                .company-name {
                  p {
                    line-height: 4px;
                    font-style: italic;
                    font-size: 13px;
                    font-weight: 500;

                  }
                }

                .postion-role {
                  p {
                    font-weight: 200;
                    font-size: 11px;
                  }
                }

              }
            }

            .project-cnt {
              ul {
                li {
                  flex-basis: 40%;
                }
              }
            }
          }
        }
      }
    }
  }
}