.container .port-content {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  justify-items: center; }
  .container .port-content .port-bg {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    height: auto;
    max-width: 900px;
    width: 100%; }
    .container .port-content .port-bg .port-bg-half {
      display: flex;
      flex-direction: row; }
      .container .port-content .port-bg .port-bg-half .half-about-me {
        height: 100%;
        background-color: black;
        flex-basis: 35%;
        padding: 10px; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-pic {
          text-align: center; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-pic .image-content {
            padding: 20px 20px; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-pic .image-content img {
              border-radius: 50%;
              width: 70%;
              height: auto; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-name h1 {
          color: white;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 2px;
          line-height: 1px;
          text-align: center; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-name h1#lastname {
            color: red; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-name h2 {
          font-size: 13px;
          color: #f5f5f5;
          letter-spacing: 1px; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-info {
          padding: 5px 10px 0px 20px; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-info .profile-info-header {
            border-left: 2px solid red; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-info .profile-info-header h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-info .profile-info-text p {
            color: white;
            font-size: 10px; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact {
          padding: 5px 10px 10px 20px; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-header {
            border-left: 2px solid red; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-header h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-content {
            padding-left: 20px; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-content p {
              display: flex;
              flex-direction: row;
              font-size: 12px; }
              .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-content p span#icon {
                flex-basis: 10%;
                padding-right: 10px;
                color: red; }
              .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-contact .profile-contact-content p span#text {
                flex-basis: 50%;
                color: white; }
        .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social {
          padding: 5px 10px 10px 20px; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-header {
            border-left: 2px solid red; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-header h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #e5e5e5; }
          .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-content {
            padding-left: 20px; }
            .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-content p {
              display: flex;
              flex-direction: column; }
              .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-content p span#title {
                color: red;
                font-size: 14px; }
              .container .port-content .port-bg .port-bg-half .half-about-me .about-profile-social .profile-social-content p span#subtitle a {
                color: #e5e5e5;
                font-size: 13px; }
      .container .port-content .port-bg .port-bg-half .half-reference {
        flex-basis: 65%;
        padding-left: 10px;
        padding-right: 10px; }
        .container .port-content .port-bg .port-bg-half .half-reference .reference-work {
          padding: 5px 10px 10px 20px; }
          .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-header {
            border-left: 2px solid red; }
            .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-header h1 {
              padding-left: 10px;
              font-size: 15px;
              font-weight: 600;
              color: black; }
          .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content {
            margin-top: -10px;
            display: flex;
            flex-direction: row;
            padding-bottom: 10px; }
            .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-title {
              flex-basis: 30%;
              padding-left: 10px; }
              .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-title p {
                letter-spacing: 2px;
                font-weight: 600;
                color: red;
                line-height: 4px;
                font-size: 13px; }
                .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-title p#date {
                  font-size: 9px;
                  letter-spacing: .5px;
                  color: black;
                  font-weight: 100; }
            .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-company {
              flex-basis: 70%; }
              .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-company .company-name p {
                line-height: 4px;
                font-style: italic;
                font-size: 13px;
                font-weight: 500; }
              .container .port-content .port-bg .port-bg-half .half-reference .reference-work .reference-work-content .work-content-company .postion-role p {
                font-weight: 200;
                font-size: 11px; }

/*# sourceMappingURL=style.css.map */
